<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#004993" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="prism/prism.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="assets/fav-icon.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

        * {
            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        @font-face {
            font-family: CascadiaMono;
            src: url('font/CascadiaMono.woff2');
        }

        ::selection {
            color: white;
            background: var(--primary-color);
        }

        :root {
            --code-font: CascadiaMono, sans-serif;
            --primary-color: #0af;
            --light-primary-color: rgba(125, 212, 255, 0.5);
            --dark-primary: rgb(0, 151, 226);
            --dark-blue-primary: #004993;
            --hover-primary: rgb(75, 195, 255);
            /* --text-color: rgb(4, 6, 8); */
            --text-color: #4b5568;
        }

        body {
            margin: 0;
            /* background: rgb(251, 251, 251); */
            /* background: radial-gradient(80.99% 100% at 50% 0%, #00FF0A 0%, #36008E 100%), radial-gradient(50% 123.47% at 50% 50%, #EFE7C8 0%, #36008E 100%), linear-gradient(301.28deg, #FF006B 0%, #48DD9E 100%), linear-gradient(294.84deg, #5A60E4 0%, #D30000 100%), linear-gradient(52.29deg, #000000 0%, #00FF85 100%), radial-gradient(100% 138.69% at 100% 0%, #0007A5 0%, #FF7A00 100%), radial-gradient(70.41% 100% at 50% 0%, #D5B300 0%, #2200AA 100%);
            background-blend-mode: screen, screen, lighten, overlay, lighten, difference, normal; */
        }

        .bg-div {
            background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
            margin: 0;
            height: 50rem;
            /* background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
            background-blend-mode: soft-light, screen, darken, normal; */
            background-position: center;
            background-size: cover;
        }

        html {
            scroll-behavior: smooth;
            transition: 0.7s ease;
            opacity: 0;
        }

        strong {
            font-weight: 500;
        }

        .main-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            display: flex;
            max-height: 20rem;
            max-width: 90vw;
            border-radius: 10px;
            text-align: center;
            max-width: 100%;
            margin: 1.3rem 0;
        }

        li p {
            line-height: 0rem;
        }

        li {
            margin: .5rem 0;
        }

        p {
            color: var(--text-color);
            line-height: 2rem;
            font-size: 1.27rem;
            margin: 1.7rem 0;
        }

        h1 {
            color: var(--dark-blue-primary);
            text-align: center;
        }

        h1 {
            font-size: 3rem;
            font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 2.3rem;
        }

        h4 {
            font-size: 1.7rem;
        }

        h5 {
            font-size: 1.6rem;
        }

        h6 {
            font-size: 1.5rem;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--dark-blue-primary);
            font-weight: 400;
            margin: 3rem 0 0rem 0;
            font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        hr {
            display: none;
        }

        a {

            font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500;
            color: var(--primary-color);
            text-decoration: none;
            transition: 0.3s ease;
            padding: .2rem .4rem;
            border-radius: 4px;
            position: relative;
            z-index: 1;
        }

        a:hover {
            /* background: var(--light-primary-color);
            color: var(--dark-primary); */
            color: #004a6fe0;
            background: #4ec4ff2e;
        }

        .content {
            max-width: 65rem;
            padding: 3rem 5rem 5rem;
            margin: 10rem 40px 0;
            box-shadow: 0 4px 24px 7px rgb(0 0 0 / 4%), 0 12px 64px 1px rgb(0 0 0 / 10%);
            background: white;
            position: absolute;
            top: -4.5rem;
            border-radius: 5px;
            right: 30rem;
            /* box-shadow: 0 8px 60px 0 rgb(0 0 0 / 11%), 0 12px 90px 0 rgb(0 0 0 / 11%); */
        }


        /* scroll bar */
        /* width */
        ::-webkit-scrollbar {
            height: 5px;
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 500px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #080b2e2e;
            border-radius: 500px;
            transition: 0.4s ease;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #7a7f9c;
        }

        code {
            padding: 1px 3px;
            background: #4ec4ff2e;
            color: #004a6fe0;
            border-radius: 3px;
        }

        pre code {
            background: none;
        }

        pre,
        code,
        .token {
            font-family: var(--code-font) !important;
        }

        blockquote {
            background-color: rgb(219, 244, 255) !important;
            margin: 2.4rem auto;
            border-radius: 5px;
            border-left: .4rem solid var(--primary-color);
            padding: .15rem 1.2rem;
        }

        blockquote p {
            color: #00587e;
        }

        li {
            font-size: 1.2rem;
            color: var(--text-color);
            list-style-type: disk;
            line-height: 2rem;
        }

        h1+div.code-toolbar,
        h2+div.code-toolbar,
        h3+div.code-toolbar,
        h4+div.code-toolbar,
        h5+div.code-toolbar,
        h6+div.code-toolbar {
            margin-top: 1.5rem;
        }

        pre {
            background: whitesmoke;
            padding: 2rem;
            font-size: 18px !important;
            border-radius: .3rem;
            border-left: .3rem solid var(--primary-color);
        }

        .toolbar-item button {
            color: white !important;
            background: transparent !important;
            box-shadow: none !important;
        }

        .toolbar-item button span {
            box-shadow: 0px 0px 11px 1px rgb(212, 212, 212) !important;
            cursor: pointer !important;
            background: #00d0ff !important;
            color: whitesmoke !important;
            padding: 7px 20px !important;
            transition: .5s ease;
            font-family: 'Inter', sans-serif;
        }

        .toolbar-item button span:hover {
            background: #00b2da !important;
        }

        .coverImg {
            margin: 2rem auto;
        }

        .flex-row-class {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .more-posts {
            text-align: center;
            margin: 2rem auto -0.5rem;
            font-size: 2rem;
            padding: 0.8rem 2rem;
            color: #0b4a97;
            transition: 0.3s ease;
            border-radius: 7px;
            background: #d3f0ff;
            border: 2px solid #a5e0ff;
        }

        .more-posts:hover {
            border: 2px solid #52a0ff;
            background: transparent;
            color: #075bc3;
        }

        .more-posts::before {
            display: none;
        }

        @media (max-width: 420px) {
            .content {
                padding: .5rem .25rem;
            }
        }

        .common-points {
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 5px;
            position: fixed;
            top: 5.5rem;
            right: 4rem;
            padding: 1rem 2rem 2rem;
            z-index: 50;
            box-shadow: 0 4px 24px 7px rgb(0 0 0 / 4%), 0 12px 64px 1px rgb(0 0 0 / 10%);
        }

        .common-points h1 {
            color: rgb(0, 73, 147);
            margin: 1rem 0;
        }

        .common-points .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            /* color: rgba(0, 0, 0, 0.726); */
        }

        .common-points .links a {
            transition: 0.3s ease;
            color: var(--dark-blue-primary);
        }

        .common-points .links a:hover {
            color: rgb(0, 0, 68);
        }

        @media (max-width: 1224px) {
            .bg-div {
                display: none;
            }

            .content {
                max-width: initial;
                margin: 0rem auto;
                box-shadow: none;
            }
        }

        @media (max-width: 724px) {
            .content {
                top: 0;
            }
        }

        @media (max-width: 1600px) {
            .common-points {
                display: none;
            }

            .content {
                width: 90%;
                right: auto;
            }
        }

        @media (max-width: 500px) {
            :root {
                --text-color: #525966;
            }

            html {
                font-size: 13px;
            }

            h1 {
                margin: 2rem auto .2rem;
            }

            .content {
                padding-bottom: 2rem;
                margin: 0 auto;
            }

            .content h1 {
                font-weight: 400;
            }

            pre,
            code,
            .token {
                font-size: 1rem !important;
            }
        }

        .blogs-bg {
            background: #f0f0f0;
        }
    </style>
</head>

<body>
    <div class="bg-div"></div>
    <div class="common-points">
        <h1>Points</h1>
        <div class="links" id="links">
        </div>
    </div>
    <div class="main-body">
        <div class="content">
            <h1>
                <%=title%>
            </h1>
            <div class="flex-row-class">
                <p style="margin-right: 1rem;"><i class="fa fa-clock mr-2"></i>
                    <%=readingTime%> min. to read ,
                </p>
                <p>
                    <%=createdTime%> ago
                </p>
            </div>
            <img class="coverImg" src="<%=coverImg%>" alt="<%=title%>">
            <div id="html-content">
                <script>
                    console.log('inner html appended...');
                    document.getElementById('html-content').innerHTML = `<%-content%>`;
                </script>
            </div>
            <%#- include('../partials/postContent.ejs')%>
                <div class="main-body">
                    <a class="more-posts" href="/#latest-blogs" target="none">Read More Posts >></a>
                </div>
        </div>
    </div>
    <!-- <div class="mode">
        <img src="">
    </div> -->

    <script src="prism/prism.js"></script>

    <script>
        window.onload = function () {
            document.querySelector('html').style.opacity = "1";
        }

        const anchorTags = document.querySelectorAll('a');
        const morePosts = document.querySelector('.more-posts');
        console.log(morePosts);
        anchorTags.forEach(Element => {
            if (morePosts == Element) {
                Element.setAttribute("target", "")
            }
            else {
                Element.setAttribute("target", "_blank")
            }
        })

        const mainPoints = document.getElementsByTagName('h2');
        const links = document.getElementById('links');
        for (item of mainPoints) {
            item.setAttribute('id', (item.innerHTML).replaceAll(' ', '-'))
            links.innerHTML += `
                <a href="#${(item.innerHTML).replaceAll(' ', '-')}">${item.innerHTML}</a>
            `
            // code to be executed
        }

        // mainPoints.forEach(Element => console.log(Element))
    </script>

</body>

</html>